/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020-3-23, 16:38:34
    Author     : YoSou
*/

/* CSS Document */

.choose{
font-family:"宋体";
text-align:center;
font-size:20px;
color:#093BDB;
font-weight:400;
}

.uersname1{
font-family:"宋体";
text-align:left;
font-size:16px;
color:#707070;
font-weight:400;
line-height:normal;
}

.uersname2{
font-family:"宋体";
text-align:left;
font-size:14px;
color:#707070;
font-weight:400;
line-height:normal;
}

.basicmessage{
font-family:"宋体";
text-align:left;
font-size:16px;
color:#707070;
font-weight:600;
}

.right{
text-align:right;
}

.left{
text-align:left;
}
.messagename{
font-family:"宋体";
text-align:right;
font-size:16px;
color:#707070;
font-weight:400;
line-height:normal;
}

.solvemessage{
font-family:"宋体";
text-align:left;
font-size:14px;
color:#707070;
font-weight:400;
line-height:normal;
}

.solvetext{
font-family:"宋体";
text-align:left;
font-size:16px;
color:#707070;
font-weight:500;
line-height:normal;
}