
html {
    width: 1024px;
    margin: auto;
    font-size: 16px;
}

p {
    text-indent: 2rem;
    padding: 0rem 8rem;
}

/* 漏洞：改回大布局时，需重新设置 display。 */

#page-header {
    display: grid;
    grid-template-columns: 320px minmax(100px, auto) 120px;

    align-items: center;
}

#page-header-logo>img {
    display: inline-block;
}

#page-header-find {
    justify-self: right;
}

#page-header-user {
    justify-self: center;
}

#page-header-menu {
    grid-column: 1/4;
}

#page-header-menu>div {
    display: none;
}

#page-header-menu>ul {
    display: flex;
    align-items: center;

    padding: 0px 32px;
    margin: auto;

    color: white;
    background-color: rgba(9, 59, 219, 0.7);
}

#page-header-menu>ul>li {
    display: inline-block;

    width: 100px;
    height: 38px;

    z-index: 2;

    cursor: pointer;
    text-align: center;

    margin: auto;
}

#page-header-menu>ul>li>div {
    height: 38px;
    line-height: 38px;
}

#page-header-menu>ul>li:hover {
    font-weight: bold;
    background-color: blue;
}

#page-header-menu>ul>li>ul {
    display: none;

    width: 100px;

    text-align: center;
    background-color: rgba(9, 59, 219, 0.7);

    padding: 4px 0px 8px 0px;
}

#page-header-menu>ul>li>ul>li {
    display: block;
    list-style: none;

    margin: 8px;
}

#page-header-menu>ul>li:hover>ul {
    display: block;
}


#page-footer {
    display: block;

    width: 100%;
    height: 240px;

    background-color: rgba(9, 59, 219, 0.7);
}



div.rotated-graph {
    position: relative;

    width: 100%;
    height: 240px;
}

div.rotated-graph>button {
    position: absolute;

    text-align: center;
    font-weight: bold;

    color: rgba(9, 59, 219, 0.5);
    background-color: rgba(255, 255, 255, .5);

    width: 24px;
    height: 48px;

    border: none;
    margin: 0px 6px;
}

div.rotated-graph>button:nth-of-type(1) {
    top: 96px;
    left: 0px;
}

div.rotated-graph>button:nth-of-type(2) {
    top: 96px;
    right: 0px;
}

ul.rotated-graph-images {
    position: relative;

    list-style: none;

    width: inherit;
    height: inherit;

    padding: 0px;
    margin: 0px;
}

ul.rotated-graph-images>li {
    position: absolute;

    width: inherit;
    height: inherit;

    transition: all .8s;
}

ul.rotated-graph-images>li:nth-of-type(1) {
    background-color: red;
}
ul.rotated-graph-images>li:nth-of-type(2) {
    background-color: gold;
}
ul.rotated-graph-images>li:nth-of-type(3) {
    background-color: green;
}
ul.rotated-graph-images>li:nth-of-type(4) {
    background-color: aqua;
}
ul.rotated-graph-images>li:nth-of-type(5) {
    background-color: blue;
}

.rotated-graph-images-hitted {
    z-index: -2;
    opacity: 0;
}

.rotated-graph-images-actived {
    z-index: -1;
    opacity: 1;
}

ul.rotated-graph-mapped {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0px;

    width: 100%;

    padding-left: 0px;
}

ul.rotated-graph-mapped>li {
    display: block;

    width: 36px;
    height: 8px;

    /* border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px; */

    margin: 0px 4px;
}

.rotated-graph-mapped-hitted {
    cursor: pointer;
    background-color: rgba(9, 59, 219, .1);

    border: 2px solid hsla(0, 0%, 100%, .3);
    border-radius: 3px;
}

.rotated-graph-mapped-actived {
    cursor: auto;
    background-color: rgba(9, 59, 219, .3);

    border: 2px solid rgba(255, 255, 255, .7);
    border-radius: 3px;
}



@media screen and (max-width: 768px) {
    html {
        width: 100%;
        margin: auto;

        font-size: 24px;
    }

    p {
        text-indent: 2rem;

        padding: 0rem 1rem;
    }

    #page-header {
        display: grid;
        grid-template-areas: "PageHeaderMenu PageHeaderUser PageHeaderFind";
        grid-template-columns: 120px auto 120px;

        background-color: rgba(9, 59, 219, 0.7);
    }

    #page-header-logo {
        display: none;
    }

    #page-header-find {
        grid-area: PageHeaderFind;

    }

    #page-header-user {
        grid-area: PageHeaderUser;
        justify-self: center;

        color: white;
    }

    #page-header-user>a {
        color: inherit;
    }

    #page-header-user>a:not(:first-child) {
        display: none;
    }

    #page-header-menu {
        display: block;
        grid-area: PageHeaderMenu;
    }

    #page-header-menu>div:first-child {
        display: block;

        cursor: pointer;
    }

    #page-header-menu>div:nth-child(2) {
        display: none;

        position: absolute;
        top: 0px;
        right: 0px;

        width: 65%;
        height: 100%;
    }

    #page-header-menu>ul {
        display: none;

        /* display: flex; */
        flex-direction: column;

        position: fixed;
        top: 0px;
        left: 0px;

        width: 35%;
        height: 100%;
    
        padding: 0px;
        margin: auto;
    
        color: white;
        background-color: rgba(9, 59, 219, 0.7);
    }
    
    #page-header-menu>ul>li {
        display: block;
    
        cursor: pointer;
        text-align: center;
    
        margin: auto;
        margin-left: 10%;
    }
    
    #page-header-menu>ul>li>div {
        height: 38px;
    }

    #page-header-menu>ul>li:hover {
        /* 漏洞：需要消除以前定义的 hover。 */
    }

    #page-header-menu>ul>li>ul {
        display: block;

        background: none;

        margin-left: 45%;
    }
}
